<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-self-items">
                    {{title}}
                    <a href="/notes/edit/{{_id}}"><button>EDIT</button></a>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST" class=" d-grid gap-2">
                    <input value="DELETE" type="hidden" name="_method"/>
                    <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body  d-grid gap-2" >
                <p class="lead">There are not notes yet</p>
                <a href="/notes/add" class="btn btn-success">Create one now</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

